<a href="https://colab.research.google.com/github/sumaiyaSultanaTarin/CVPR_23_24_Spring/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LIST OPERATIONS**

In [5]:
a = list(range(1,11))
b = [ i**2 for i in a]
print(b)
print(list(map(lambda l: l+l, a)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**TUPLE OPERATIONS**

In [7]:
nums = (2,4,6,8,10)
print(tuple(map(lambda l: l*l, nums)))

(4, 16, 36, 64, 100)

**SET OPERATIONS**

In [12]:
set1 = {1,3,5,7}
set2 = {3,7,9}

Union = set1.union(set2)
Intersection = set1.intersection(set2)
print(f"Union of Two sets :{Union}")
print(f"Intersections of Two sets :{Intersection}")

Union of Two sets :{1, 3, 5, 7, 9}
Intersections of Two sets :{3, 7}

**Dictionary Operations**

In [14]:
dicts = {'a':97, 'b':98, 'c':99, 'd':100, 'e':101}
print(f"Dictionary: {dicts}")
print(type(dicts))

Dictionary: {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}
<class 'dict'>

**Functional Programming**

In [19]:
def square(x):
  return x*x

  a = list(range(1,11))
  print(a)